.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  gap: 25px;
  justify-content: center;
  align-items: center;
  background-color:rgb(193, 231, 231);

  .createSection {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px 15px;
    height: 60vh;
    width: 30vw;
    gap: 25px;
    flex-direction: column;
    background-color:rgb(233, 229, 169);
    border-radius: 20px;

    p {
      width: 25vw;
      text-align: center;
      font-size: 25px;
      color: rgb(75, 75, 75);
    }

    button {
      margin-top: 25px;
    }
  }

  .connectSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    height: 60vh;
    width: 30vw;
    background-color:rgb(230, 175, 130);
    border-radius: 20px;
  }
}